<div class="valentine-container" *ngIf="!yesClicked">
  <img
    class="kiss"
    src="https://i.pinimg.com/originals/73/89/aa/7389aaa2a73b071ee7d3d782310e590b.gif"
    alt="bear with heart"
  />
  <div class="text">Will you be my valentine🌹?</div>
  <div class="both-Button">
    <button class="yesButton" style="font-size: 16px" (click)="clickYes()">
      YES</button
    ><button id="nobtn" class="NoButton" (mouseover)="onMouseOver()" (click)="clickNo()">NO</button>
  </div>
</div>

<div class="valentine-container" *ngIf="yesClicked">
  <img
    src="https://media.tenor.com/gUiu1zyxfzYAAAAi/bear-kiss-bear-kisses.gif"
    alt="bear-Kissing"
  />
  <div class="text">HEHEHEHE BHEBIKKKKKKKKK AISHTERUUUUUUUUU</div>
</div>
